.container {
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    position: relative;
    cursor: pointer;
}

.icon {
    font-size: 16px;
}

.switcher {
    width: 18px;
    aspect-ratio: 1/1;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
}